services:
  esphome:
    image: esphome/esphome:latest
    container_name: esphome
    restart: unless-stopped
    privileged: true
    network_mode: host
    environment:
      - TZ=Europe/Madrid
    volumes:
      - /docker/core/esphome/config:/config
      - /etc/localtime:/etc/localtime:ro
